.title {
  font-family: 'Slackside One', system-ui;
  font-weight: 400;
  font-style: normal;
  color: rgb(244, 105, 179);
  background-color: whitesmoke;
  font-size: clamp(24px, 10vw, 64px);
  white-space: nowrap;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin-bottom: 0.3em;
}
