#root {
  max-width: 1920px;
  margin: 0 auto;
  text-align: center;
}

h2 {
  border-bottom: solid 3px gray;
  padding-bottom: 10px;
  display: inline-block;
}

.title {
  font-family: fantasy;
  color: rgb(244, 105, 179);
  background-color: whitesmoke;
  font-size: clamp(24px, 10vw, 64px);
  white-space: nowrap;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin-bottom: 0.3em;
}

.card_account {
  height: 15em;
  width: 10em;
}

.card_made {
  height: 30em;
  width: 60em;
}

.logo {
  object-fit: contain;
  padding: 1em;
  box-sizing: border-box;
}

.ss_made {
  margin-top: 10px;
  padding-top: 20px;
  max-height: 50%;
  max-width: 90%;
  border: 1px solid gray;
}