h2 {
  border-bottom: solid 3px gray;
  padding-bottom: 10px;
  display: inline-block;
}

.card_account {
  height: 15em;
  width: 10em;
}

.text_account {
  white-space: nowrap;
}

.card_made {
  max-height: 30em;
  max-width: 60em;
  margin: auto;
  margin-bottom: 10px;
}

.logo {
  object-fit: contain;
  padding: 1em;
  box-sizing: border-box;
}

.ss_made {
  margin-top: 10px;
  max-height: 15em;
  max-width: 55em;
  border: 1px solid gray;
  display: block;
}

.fadein-before{
  opacity: 0;
  transform:translateX(-100px);
  transition:opacity 1s, transform 1s;
}

.fadein-after{
  opacity: 1;
  transform: translate(0);
}

.zayuu{
  font-size: large;
  font-weight: bold;
}